@font-face {
    font-family: montserrat;
    src: url(./fonts/Montserrat-Regular.ttf);
  }
  
  $desk: 100/1920;
  $mob: 100/375;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  // border: 5px solid red;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container{
  position: relative;
  color: white;
  text-align: center;
  
}
.back_image{
  width: 100%;
  height: 900 *$desk+vw;
}
.navbar{
  position: absolute;
  top: 20 *$desk+vw;
}

.logo img{
  width: 250 *$desk+vw;
  height: 250 *$desk+vw; 
  margin-left: 50 *$desk+vw;
}
.logo_image:hover{
  width: 270 *$desk+vw;
  height: 270 *$desk+vw;
}
.navbar{
   display: flex;
   flex-direction: row;
}
ul {
   list-style-type: none;
   margin-left: 450 *$desk+vw;
   padding: 0;
   overflow: hidden;
   // background-color: #333;
 }
 
 li {
   float: left;
   margin-left: 20 *$desk+vw;
   font-size: 22 *$desk+vw;
 }
 li a{
     font-size: 27 *$desk+vw;
 }
 li a:hover{
     color: red;
     height: 200 *$desk+vw;
     width: 200 *$desk+vw;
     font-size: 29 *$desk+vw;
 }

 li a span{
     color: orange;
 }
 
 li a {
   display: block;
   color: white;
   text-align: right;
   margin-top: 80 *$desk+vw;
   // margin-left: 100 *$desk+vw;
   padding: 14 *$desk+vw 2 *$desk+vw;
   text-decoration: none;
 }

 li a, .dropbtn {
   display: inline-block;
   color: white;
   text-align: center;
   padding: 10 *$desk+vw 10 *$desk+vw;
   text-decoration: none;
 }
 
//   li a:hover, .dropdown:hover .dropbtn {
//     background-color: red;
//   }
 
 li.dropdown {
   display: inline-block;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: black;
   opacity: 0.7;
   min-width: 160px;
 }
 
 .dropdown-content a {
   color: white;
   padding: 8 *$desk+vw 10 *$desk+vw;
   text-decoration: none;
   display: block;
   text-align: left;
 }
 
 .dropdown-content a:hover{
     color:#F6F60B;
     background-color: black;
   }
 
 .dropdown:hover .dropdown-content {
   display: block;
 }


 .main{
   position: absolute;
   top: 250 *$desk+vw;
   padding: 75 *$desk+vw;
 }
 .main h1{
  color: white;
  text-align: center;
  font-size: 80 *$desk+vw;
  padding: 15 *$desk+vw;
}
.main p{
  color: white;
  text-align: center;
  font-size: 35 *$desk+vw;
  padding: 8 *$desk+vw;
}
button{
  background: #FFC300 ;
  text-align: center;
  font-size: 26 *$desk+vw;
  padding: 10 *$desk+vw;
  align-items: center;
  position: absolute;
  left: 850 *$desk+vw;
  top: 280 *$desk+vw;
  border-radius: 5 *$desk+vw;
}
button:hover{
  background-color: red;
  color: orange;
  width: 290 *$desk+vw;
  height: 50 *$desk+vw;
}
.arif{
  width: 1200 *$desk+vw;
  height: 300 *$desk+vw;
}
.arif img{
  max-width: 100%;
  max-height: 100%;
  display: block;
  // position: relative;
  // justify-content: center;
  // align-items: center;
}