@font-face {
  font-family: montserrat;
  src: url(./fonts/Montserrat-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.container {
  position: relative;
  color: white;
  text-align: center;
}

.back_image {
  width: 100%;
  height: 46.875vw;
}

.navbar {
  position: absolute;
  top: 1.04167vw;
}

.logo img {
  width: 13.02083vw;
  height: 13.02083vw;
  margin-left: 2.60417vw;
}

.logo_image:hover {
  width: 14.0625vw;
  height: 14.0625vw;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

ul {
  list-style-type: none;
  margin-left: 23.4375vw;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin-left: 1.04167vw;
  font-size: 1.14583vw;
}

li a {
  font-size: 1.40625vw;
}

li a:hover {
  color: red;
  height: 10.41667vw;
  width: 10.41667vw;
  font-size: 1.51042vw;
}

li a span {
  color: orange;
}

li a {
  display: block;
  color: white;
  text-align: right;
  margin-top: 4.16667vw;
  padding: 0.72917vw 0.10417vw;
  text-decoration: none;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 0.52083vw 0.52083vw;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  min-width: 160px;
}

.dropdown-content a {
  color: white;
  padding: 0.41667vw 0.52083vw;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: #F6F60B;
  background-color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main {
  position: absolute;
  top: 13.02083vw;
  padding: 3.90625vw;
}

.main h1 {
  color: white;
  text-align: center;
  font-size: 4.16667vw;
  padding: 0.78125vw;
}

.main p {
  color: white;
  text-align: center;
  font-size: 1.82292vw;
  padding: 0.41667vw;
}

button {
  background: #FFC300;
  text-align: center;
  font-size: 1.35417vw;
  padding: 0.52083vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 44.27083vw;
  top: 14.58333vw;
  border-radius: 0.26042vw;
}

button:hover {
  background-color: red;
  color: orange;
  width: 15.10417vw;
  height: 2.60417vw;
}

.arif {
  width: 62.5vw;
  height: 15.625vw;
}

.arif img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
/*# sourceMappingURL=style.css.map */